<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/kbroman.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/academicons.min.css"/>

    <!-- Le fav and touch icons -->
    <link rel="SHORTCUT ICON" href="{{ BASE_PATH }}/assets/me.ico"/>

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{ HOME_PATH }}">Home</a>
          <ul class="nav">
              <li><a href="https://rpaudel42.github.io/pages/pubs.html">Publications</a></li>
              <li><a href="https://rpaudel42.github.io/pages/research.html">Research</a></li>
              <li><a href="https://rpaudel42.github.io/pages/software.html">Software/Tools</a></li>
              <li><a href="https://rpaudel42.github.io/pages/dataset.html">Datasets</a></li>
              <li><a href="https://rpaudel42.github.io/assets/resume.pdf">Vitae(PDF)</a></li>
              <li><a href="https://rpaudel42.github.io/pages/tutorial.html">Tutorials/Talks</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-main">
      <header>
        <h2><a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a></h2>

        <!--<img src="{{ BASE_PATH }}/assets/pics/profilepic.jpg" alt="Profile Pic">-->
        <a href="https://rpaudel42.github.io/assets/pics/profilepic.jpg">
          <img class="profile-pic" src="https://rpaudel42.github.io/assets/pics/profilepic.jpg"
               title="Ramesh Paudel" alt="Ramesh Paudel"/></a>
        <hr class="hr-sidebar">
        <div class="container-contact">
          <h4><a name="contact"></a>Contact</h4>

          <div class="row-fluid">
              <a href="https://www.tntech.edu/engineering/programs/csc/data-science-collaboratory.php">Data Science & Analytics Collaboratory</a><br/>
              <a href="https://www.tntech.edu/engineering/departments/csc/">Department of Computer Science</a><br/>
              <a href="https://www.tntech.edu">Tennessee Tech University</a><br/>
              Cookeville, TN 38501<br/>
              <div id="hide_email">
                 <i class="fas fa-map-marker-alt"></i> Volpe Library Room 132 </br>
                 <i class="fas fa-envelope-square"></i> rpaudel42 at students dot tntech dot edu
              </div>
          </div>
        </div>

        <hr class="hr-sidebar">

        <div class="professonal-link">
          <span class="ml-1"><a href="https://scholar.google.com/citations?user=seHpymwAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-3x"></i></a></span>
          <span class="ml-1"><a href="https://github.com/rpaudel42"><i class="fa fa-github fa-3x"></i></a></span>
          <span class="ml-1"><a href="https://www.linkedin.com/in/ramesh-paudel-1384b564/"><i class="fa fa-linkedin fa-3x"></i></a></span>
          <span class="ml-1"><a href="https://www.researchgate.net/profile/Ramesh_Paudel4"><i class="ai ai-researchgate-square ai-3x"></i></a></span>
          <span class="ml-1"><a href="https://orcid.org/0000-0002-9284-0511"><i class="fa fa-orcid fa-3x"></i></a></span>
          <span class="ml-last"><a href="https://www.mendeley.com/profiles/ramesh-paudel/"><i class="ai ai-mendeley-square ai-3x"></i></a></span>
        </div>

      </header>
      <div class="container-body">
        <div class="content">
          {{ content }}
        </div>

        <hr>

      </div>
    </div>
    <!--<div class="footbar">-->
      <!--<p>This site is managed by Ramesh Paudel. Powered by Github.</p>-->
    <!--</div>-->
    {% include JB/analytics %}

  </body>
</html>
